@font-face {
    font-family: Silkscreen;
    src: url(../font/slkscr.ttf);
}

* {
    font-family: Silkscreen;
}

body {
    background: #eee url(../imgs/Brick_Texture.png);
}

header, footer {
    background: url(../img/Brick_Texture.png);
    text-align: center;
    height: 200px;
}

#wrapper > section > section {
    float: left;
    width: 540px;
    margin-right: 20px;
}

#wrapper > section > aside {
    float: left;
    width: 400px;
}
